<h1>Change your name or Update Your Plans</h1>

<h2>Edits for <%= @user.name %></h2>

  <form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <p>Choose one of your plans or make a new one here.</p>


    <h3>Your Plan Details</h3>
    <% @plans.each do |plan| %>
      <input type="checkbox" name="user[plan_ids][]" id="<%= plan.id %>" value="<%= plan.id %>" <%='checked' if @user.plans.include?(plan) %>><%= plan.plan_id %></input><br>
    <% end %>
  </br>
</form>
<p><a href="/plans/new">You can always click here to create a new plan</a></p>
