<h1>Change your name or Update Your Plans</h1>

<h2>Edits for <%= @user.name %></h2>

  <form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Change Your Name:</label>
    <input type="text" name="user[name]" value="<%= @user.name %>">


    <br>
    <p>Choose one of your plans or make a new one here.</p>


    <h3>Your Plan Details</h3>
    <% @plans.each do |plan| %>
      <input type="checkbox" name="user[plan_ids][]" id="<%= plan.id %>" value="<%= plan.id %>" <%='checked' if @user.plans.include?(plan) %>><%= plan.plan_id %></input><br>
    <% end %>
  </br>

    <h3>Make a New Plan</h3>
    <label>Plan Number: </label>
    <input type="text" name="plan[plan_id]" id="plan_id"></input>
    <br>

    <input type="submit" value="Make Plan">
  </form>
