<h1>Here are all your plans<%= current_user.username %>!</h1>
<%#show one user, instance varaibale needs to be current_user or @user
current_user.plans.size
#show only one user's plans
#you could iterate though their plans
#@plan should not be here
<h1><%=current_user.name%>

<h2>Details:</h2>
<ul>
  <%current_user.plans.each do |plan|%>
  <li><%=plan.name%></li>
  <li><%=plan.mode_of_transport%></li>
  <li><%=plan.date %></li>
  <li><%=plan.destination %></li>

  <%end%>
</ul><br>


<h1> Additional account options</h1>
<p><a href="/plans/new">Click here to create a new plan</a></p>
<p><a href="/plans/delete">Click here to cancel(delete) one of your plans</a></p>
<p><a href="/plans/update">Click here to update one of your plans</a></p>

<p><a href="/logout">Log Out</a></p>
