<h1>Here are all your plans <%= current_user.username %>!</h1>
<strong>Search for a plan here </strong><br><br>
<form action="/plans/search" method="get">
<input type="text" name="search" />
<input type="submit" value="submit" />
</form><br>

<h2>Details:</h2>
<ul>
<%@plans.each do |plan|%>
  <li>Your trip is called <%=plan.name%>.</li><br>
  <li>Your way to get there is by taking a comfortable <%=plan.mode_of_transport%> ride.</li><br>
  <li>The lucky day you are leaving is <%=plan.date %>.</li><br>
  <li>Enjoy your time in <%=plan.destination %>!</li><br>
  <h2> Additional account options for this plan</h2>
  <form action="/plans/<%= plan.id %>" method="post">
    <div style="margin:0;padding:0">
      <input id="hidden" name="_method" type="hidden" value="delete" />
      <input type="submit" value="Click here to delete the plan above" />
    </div>
  </form><br>
  <p><a href="/plans/<%= plan.id %>/edit">Click here to update the plan above</a></p>
<% end %>
</ul>
<p><a href="/plans/new">Click here to create a new plan</a></p>

<p><a href="/logout">Log Out</a></p>

<img src="https://www.getours.com/media/1207/france-provence-lavender-field.jpg?center=0.5043478260869565,0.48753462603878117&mode=crop&width=1120&height=675&rnd=132291906710000000"width="700px" height="350px">
