<form action="/plans/<%= @plan.id %>" method="POST">
<input name="_method" type="hidden" value="patch" />
<h3>Edit this Plan</h3>

<label>What is it called? </label>
<input type="text" name="plan[name]" id="name" value="<%= @plan.name%>"></input>
<br><br>

<label>Where are you going? </label>
<input type="text" name="plan[destination]" id="destination"  value="<%= @plan.destination %>"></input>
<br><br>

<label>How are you going to get there? </label>
<input type="text" name="plan[mode_of_transport]" id="mode_of_transport" value="<%= @plan.mode_of_transport %>"></input>
<br><br>

<label>What day? </label>
<input type="text" name="plan[date]" id="date"  value="<%= @plan.date %>"></input>
<br><br>

<input type="submit" value="Update Plan">
</form>
