<h1>Here are you details for the plan you made!</h1>

<h2> Okay <%= current_user.username %>, you will be taking a(n) </h2>

<li>Your trip is called <%=@plan.name%>.</li>
<li>Your way to get there is by taking a comfortable <%=@plan.mode_of_transport%> ride.</li>
<li>The day you are leaving is <%=@plan.date %>.</li>
<li>Enjoy your time in <%=@plan.destination %>!</li>
<form action="/plans/<%= @plan.id %>" method="post">
  <div style="margin:0;padding:0">
    <input name="_method" type="hidden" value="delete" />
    <input type="submit" value="delete this plan" />
  </div>
</form>
<p><a href="/plans/<%= @plan.id %>/edit">Click here to update one of your plans</a></p>
<p><a href="/logout">Log Out</a></p>
