<h1>Here are your details for the plan you updated!</h1>

<h2> Okay <%= current_user.username %>, you will be taking a(n) </h2>

<li>Your trip is called <%=@plan.name%>.</li><br>
<li>Your way to get there is by taking a comfortable <%=@plan.mode_of_transport%> ride.</li><br>
<li>The lucky day you are leaving is <%=@plan.date %>.</li><br>
<li>Enjoy your time in <%=@plan.destination %>!</li><br>
<h2> Additional account options</h2>
<form action="/plans/<%= @plan.id %>" method="post">
  <div style="margin:0;padding:0">
    <input id="hidden" name="_method" type="hidden" value="delete" />
    <input type="submit" value="Click here to delete this plan" />
  </div><br>
</form>
<p><a href="/plans/<%= @plan.id %>/edit">Click here to update your plan again</a></p>
<p><a href="/plans/new">Click here to create a new plan</a></p>
<p><a href="/users/show">Click here to see all your plans again</a></p>
<p><a href="/logout">Log Out</a></p>
<img src="https://www.libertytravel.com/sites/default/files/styles/full_size/public/New-Zealand_hero.jpg?itok=spg0eXLa" width="800px" height="450px">
