<h1>Here are you details for the plan you made!</h1>

<h2> Okay <%= current_user.username %>, you will be taking a(n) </h2>

<%=@plan.mode_of_transport %> on <%=@plan.date %> to <%=@plan.destination %>.<br>
<%#keep it singular, if you are trying to get an attribute from the table, then you should use a method
#that can be called on the singlular object%>
<h2> Now here are all your plan options</h2>
<p><a href="/plans/new">Click here to create a new plan</a></p>
<p><a href="/plans/<%=@plan.id%>/delete">Click here to cancel one of your plans</a></p>
<p><a href="/plans/<%=@plan.id%>/edit">Click here to update one of your plans</a></p>

<p><a href="/logout">Log Out</a></p>
